<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.wechat.movies.security.mapper.UsersMapper">
    <resultMap id="AuthUserPoJo" type="com.cloud.wechat.movies.security.pojo.AuthUserPoJo">
        <id column="id" jdbcType="VARCHAR" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_pwd" jdbcType="VARCHAR" property="userPwd"/>
        <result column="STATUS" jdbcType="VARCHAR" property="status"/>
        <result column="user_code" jdbcType="VARCHAR" property="userCode"/>
        <collection property="roleInfos" column="id" javaType="ArrayList"
                    ofType="com.cloud.wechat.movies.security.entity.RoleInfo" select="getRolesByUserId"/>
        <collection property="permissionInfos" column="id" javaType="ArrayList"
                    ofType="com.cloud.wechat.movies.security.entity.PermissionInfo" select="getPermissionsByUserId"/>
    </resultMap>
    <select id="getRolesByUserId" resultType="com.cloud.wechat.movies.security.entity.RoleInfo">
    SELECT
        sri.*
    FROM
        user_info sui
    INNER JOIN map_user_role smur ON sui.id = smur.user_id
    INNER JOIN role_info sri ON smur.role_id = sri.id
    WHERE
          sui.id=#{id}
    </select>

    <select id="getPermissionsByUserId" resultType="com.cloud.wechat.movies.security.entity.PermissionInfo">
    SELECT
        spi.*
    FROM
         user_info sui
    INNER JOIN  map_user_role smur ON sui.id = smur.user_id
    INNER JOIN  role_info sri ON smur.role_id = sri.id
    INNER JOIN  map_role_permission smrp ON smrp.role_id = sri.id
    INNER JOIN  permission_info spi ON smrp.permission_id = spi.id
    WHERE
      sui.id=#{id}
    </select>
    <select id="findAuthUserByUsername" resultMap="AuthUserPoJo">
        SELECT
            u.*
        FROM
            user_info u
        WHERE
            u.user_name = #{userName}
    </select>
</mapper>
